body{
    background-color: lightskyblue;
    background-image: url(images.jpg);
}
header{
         text-transform: uppercase;
         text-align: center;
}
main h2{
        text-decoration: underline;
        color:red
}
span{
        background-color:yellow;
        color:red
}