body{
    background-color:azure
}
header{
         text-align: center;
         background-color:rgb(11, 37, 59);
         color: white;
         padding: 10px;
}
header h6{
     text-transform: uppercase;
}

main h2{
    color: red;
    text-decoration: underline;
}

footer{
    text-align: center;
    background-color: rgb(11, 37, 59);
    padding: 2px;
}
footer h6{
    color:white
}
footer p{
    color:red;
    text-transform: uppercase;
}